// main: main.scss
//Färger
$color_red: #A6002A;
$color_darkblue: #1A232E;
$color_blue-500: #2251ff;
$color_blue-900: #051C2C;
$color_gray: #4E4E4E;
$color_black: #313131;
$color_white: #FFFFFF;
$gray: #d6d6d6;
$gray-10: #e6e6e5;
$border-color: #ffffff33;
$color_text: $color_gray;
$color_headlines: $color_black;

$primary-font: "lora";
$secondary-font: "Open sans";
