.content{

    div{

        .user-logout-confirm{
            text-align: center;
            font-size: x-large;
            .form-actions{

                margin-top: 15px;
                text-decoration: none;

                .button{
                    
                    text-decoration: none;
                }
            }
           
        }


    }



}